.cart-image{
    max-width: 150px;
    max-width: 150px;
}

.cart-row{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 3px solid black;
    border-radius: 10px;
}

.cart-btn{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 25px;
}

.product-image{
    width: 20rem;
    height: 20rem;
}

.margin-card{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-detail{
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-items{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

li > a{
    text-decoration: none;
    color: orange;
}

i{
    text-decoration: none;
    color: orange;
}

i:hover{
    color: rgb(145, 94, 1);
}

a:active{
    color: orange !important;
    color: rgb(145, 94, 1);
}

a:hover{
    color: rgb(145, 94, 1);
}

nav > div > a /* .brand-title */{
    font-size: 2rem;
    color: orange !important;
}

.text-orange{
    color: orange;
    text-decoration: none !important;
}

.brand-title{
    color: orange !important;
    font-size: 3rem;
}

a > h1 {
    color: orange !important;
    font-size: 3rem;
}

a {
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }